USE [master]
GO
/****** Object:  Database [IngDeSoft]    Script Date: 8/10/2025 16:57:25 ******/
CREATE DATABASE [IngDeSoft]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IngSoft', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IngSoft.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IngSoft_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IngSoft_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IngDeSoft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IngDeSoft]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [varchar](50) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Origen] [varchar](100) NOT NULL,
	[TipoEvento] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlIdioma]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlIdioma](
	[Id] [uniqueidentifier] NOT NULL,
	[NombreControl] [nvarchar](100) NOT NULL,
	[IdIdioma] [uniqueidentifier] NOT NULL,
	[TextoTraducido] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[IsDefault] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Contrasena] [varchar](max) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[CantidadIntentos] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Bitacora] ([Id], [IdUsuario], [Fecha], [Descripcion], [Origen], [TipoEvento]) VALUES (N'74D9E3D2-C339-43DE-A887-ADE36122A587', 1, CAST(N'2025-09-30T21:02:40.230' AS DateTime), N'Acceso exitoso', N'Login', 0)
INSERT [dbo].[Bitacora] ([Id], [IdUsuario], [Fecha], [Descripcion], [Origen], [TipoEvento]) VALUES (N'CA1E0C77-529A-4889-A3F0-402D0AE50B24', 1, CAST(N'2025-09-30T21:05:56.083' AS DateTime), N'Intento de acceso fallido', N'Login', 2)
INSERT [dbo].[Bitacora] ([Id], [IdUsuario], [Fecha], [Descripcion], [Origen], [TipoEvento]) VALUES (N'D73D374F-50E7-4561-8E01-24150945E431', 1, CAST(N'2025-09-30T21:06:32.623' AS DateTime), N'Intento de acceso con usuario bloqueado', N'Login', 2)
GO
INSERT [dbo].[ControlIdioma] ([Id], [NombreControl], [IdIdioma], [TextoTraducido]) VALUES (N'10285c42-f21b-4d38-a1da-3260a8625073', N'LblIdioma', N'234815dd-f267-43d7-900e-acd816f46074', N'Lenguage')
INSERT [dbo].[ControlIdioma] ([Id], [NombreControl], [IdIdioma], [TextoTraducido]) VALUES (N'2d132fa8-e43d-4249-8f9d-54a3d1e6cac7', N'lblFiltroFechas', N'576fbc76-cda2-4054-ac47-fa233f2a6593', N'Filtro Fechas')
INSERT [dbo].[ControlIdioma] ([Id], [NombreControl], [IdIdioma], [TextoTraducido]) VALUES (N'806e5cd5-ead2-4936-81d5-5ba9133b1d4a', N'LblIdioma', N'576fbc76-cda2-4054-ac47-fa233f2a6593', N'Idioma')
GO
INSERT [dbo].[Idioma] ([Id], [Nombre], [Codigo], [IsDefault]) VALUES (N'234815dd-f267-43d7-900e-acd816f46074', N'Ingles', N'en', 0)
INSERT [dbo].[Idioma] ([Id], [Nombre], [Codigo], [IsDefault]) VALUES (N'576fbc76-cda2-4054-ac47-fa233f2a6593', N'Español', N'es', 1)
GO
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Username], [Contrasena], [Bloqueado], [CantidadIntentos]) VALUES (1, N'Ricardo', N'Misme', N'misme.ricardo@gmail.com', N'rmisme', N'0cc175b9c0f1b6a831c399e269772661', 0, 0)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Username], [Contrasena], [Bloqueado], [CantidadIntentos]) VALUES (2, N'Ingenieria', N'De Sistemas', N'prueba2@gmail.com', N'a', N'0cc175b9c0f1b6a831c399e269772661', 0, 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ControlIdioma_Control_Idioma]    Script Date: 8/10/2025 16:57:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ControlIdioma_Control_Idioma] ON [dbo].[ControlIdioma]
(
	[NombreControl] ASC,
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ControlIdioma_IdIdioma]    Script Date: 8/10/2025 16:57:25 ******/
CREATE NONCLUSTERED INDEX [IX_ControlIdioma_IdIdioma] ON [dbo].[ControlIdioma]
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ControlIdioma_NombreControl]    Script Date: 8/10/2025 16:57:25 ******/
CREATE NONCLUSTERED INDEX [IX_ControlIdioma_NombreControl] ON [dbo].[ControlIdioma]
(
	[NombreControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Idioma__06370DAC8E303A8F]    Script Date: 8/10/2025 16:57:25 ******/
ALTER TABLE [dbo].[Idioma] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Idioma_Codigo]    Script Date: 8/10/2025 16:57:25 ******/
CREATE NONCLUSTERED INDEX [IX_Idioma_Codigo] ON [dbo].[Idioma]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Idioma_Nombre]    Script Date: 8/10/2025 16:57:25 ******/
CREATE NONCLUSTERED INDEX [IX_Idioma_Nombre] ON [dbo].[Idioma]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ControlIdioma] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Idioma] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Idioma] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ControlIdioma]  WITH CHECK ADD  CONSTRAINT [FK_ControlIdioma_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ControlIdioma] CHECK CONSTRAINT [FK_ControlIdioma_Idioma]
GO
/****** Object:  StoredProcedure [dbo].[AumentarIntentosUsuario]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AumentarIntentosUsuario]
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET CantidadIntentos = CantidadIntentos + 1
    WHERE UserName = @UserName;
END

GO
/****** Object:  StoredProcedure [dbo].[BloquearUsuario]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BloquearUsuario]
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET Bloqueado = 1
    WHERE UserName = @UserName;
END

GO
/****** Object:  StoredProcedure [dbo].[CrearUsuario]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUsuario]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(200),
    @Contrasena NVARCHAR(500),
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO dbo.Usuario (Id, Nombre, Apellido, Email, Contrasena, UserName, Bloqueado, CantidadIntentos)
    VALUES (@Id, @Nombre, @Apellido, @Email, @Contrasena, @UserName, 0, 0);
END

GO
/****** Object:  StoredProcedure [dbo].[GuardarBitacora]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarBitacora]
    @Id UNIQUEIDENTIFIER,
    @IdUsuario INT,
    @Fecha DATETIME,
    @Descripcion NVARCHAR(500),
    @Origen NVARCHAR(200),
    @TipoEvento INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.Bitacora (Id, IdUsuario, Fecha, Descripcion, Origen, TipoEvento)
        VALUES (@Id, @IdUsuario, @Fecha, @Descripcion, @Origen, @TipoEvento);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarUsuario]
    @UserName NVARCHAR(100),
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(200),
    @Contrasena NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
        
    UPDATE dbo.Usuario
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        Email = @Email,
        Contrasena = @Contrasena,
        Bloqueado = 0,
        CantidadIntentos = 0
    WHERE UserName = @UserName;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerBitacoraFiltradas]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacoraFiltradas]
    @Filtro NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  b.Id,
            b.Descripcion,
            b.Fecha,
            b.Origen,
            b.TipoEvento,
            u.Id AS IdUsuario,
            u.Nombre,
            u.Apellido,
            u.Email,
            u.Contrasena,
            u.UserName
    FROM dbo.Bitacora b
    JOIN dbo.Usuario u ON b.IdUsuario = u.Id
    WHERE b.Descripcion LIKE '%' + @Filtro + '%' 
       OR b.Origen LIKE '%' + @Filtro + '%' 
       OR u.UserName LIKE '%' + @Filtro + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerBitacoras]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacoras]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  b.Id,
            b.Descripcion,
            b.Fecha,
            b.Origen,
            b.TipoEvento,
            u.Id AS IdUsuario,
            u.Nombre,
            u.Apellido,
            u.Email,
            u.Contrasena,
            u.UserName
    FROM dbo.Bitacora b
    LEFT JOIN dbo.Usuario u ON b.IdUsuario = u.Id;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorUsername]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorUsername]
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos
    FROM dbo.Usuario
    WHERE UserName = @UserName;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarios]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos
    FROM dbo.Usuario;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuariosFiltrados]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuariosFiltrados]
    @Filtro NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos
    FROM dbo.Usuario
    WHERE Nombre LIKE '%' + @Filtro + '%' 
       OR Apellido LIKE '%' + @Filtro + '%' 
       OR Email LIKE '%' + @Filtro + '%' 
       OR UserName LIKE '%' + @Filtro + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[ResetearIntentosUsuario]    Script Date: 8/10/2025 16:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetearIntentosUsuario]
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET CantidadIntentos = 0
    WHERE UserName = @UserName;
END

GO
USE [master]
GO
