<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<!-- Cambiar el Data Source por el de tu maquina. -->
		<add name="IngSoftConnection" providerName="System.Data.SqlClient"
			  connectionString="Data Source=DESKTOP-GCSSFJ9;Initial Catalog=IngSoft;Integrated Security=True" />
	</connectionStrings>
</configuration>